# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.tags
.tags_sorted_by_file
*.log

# big file from MSVC
*.sdf

Debug/*